<div style="display: flex;">
  <div class="chartCard">
    <div class="chartBox">
      <canvas id="barChart"></canvas>
    </div>
    <p>X-axis bar chart</p>
  </div>
  <div class="chartCard">
    <div class="chartBox">
      <canvas id="yaxisbarChart"></canvas>
    </div>
    <p>y-axis bar chart</p>
  </div>
</div>
<div style="display: flex;">
  <div class="chartCard">
    <div class="chartBox">
      <canvas id="stackedBarChart"></canvas>
    </div>
    <p>Stacked bar chart</p>
  </div>
  <div class="chartCard">
    <div class="chartBox">
      <canvas id="scatterChart"></canvas>
    </div>
    <p>Scatter chart</p>
  </div>
</div>
<div style="display: flex;">
  <div class="chartCard">
    <div class="chartBox">
      <canvas id="lineChart"></canvas>
    </div>
    <p>Line chart</p>
  </div>
  <div class="chartCard">
    <div class="chartBox">
      <canvas id="bubbleChart"></canvas>
    </div>
    <p>Bubble chart</p>
  </div>
</div>
<div style="display: flex;">
  <div class="chartCard">
    <div class="chartBox">
      <canvas id="radarChart"></canvas>
    </div>
    <p>Radar chart</p>
  </div>
  <div class="chartCard">
    <div class="chartBox">
      <canvas id="polarChart"></canvas>
    </div>
    <p>Polar chart</p>
  </div>
</div>